<div class="container-fluid">
  <div class="row my-3">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 rounded p-5">
      <div class="text-center">
        <h1>Frequently Asked Questions</h1>
      </div>
      <br><br>
      <div class="ques">
        What amount do I install in my tires?
      </div>
      <div class="mx-5 mb-3">
        -The amount is dependent upon the size of tire and use. Off-Road tires should have more tire sealant installed than a tire used in Over-the Road application.<br>
        - <a href="#">Click here to download our iSealTires application guide.</a><br>
        - <a href="#">Click here to use our online application calculator.</a>
       </div>

      <div class="ques">
        Is iSealTires flammable?
      </div>
      <div class="mx-5 mb-3">
        -No.
      </div>

      <div class="ques">
        Will iSealTires corrode my wheels or rims?
      </div>
      <div class="mx-5 mb-3">
        - No...That said, in general; if you have a rusty wheel/rim situation it will not improve if you choose to use tire sealant. There are numerous reasons for this. The best answer is to remove all rust and properly paint or powder coat the wheel/rim before use of iSealTires.
      </div>

      <div class="ques">
        Should iSealTires be used as a preventive maintenance product or a flat repair?
      </div>
      <div class="mx-5 mb-3">
        - In the tire repair industry, there are many types of repairs, but generally speaking there two principal categories:
- On-the-Wheel repairs, many times considered temporary repairs. - Off-the-Wheel repair, patches/plugs and boots, typically considered
permanent. - iSealTires is an On-the-Wheel repair that last for the life of the tire. Not a typical temporary repair. An example of a temporary tire repair is the rope/string plug repair.
      </div>

      <div class="ques">
        Will iSealTires prevent under-inflation?
      </div>
      <div class="mx-5 mb-3">
        - Preventing under-inflation is the principal function of iSealTires. This is accomplished through sealing insidious slow leaks; either pin-hole, rim, bead or wheel leaks that are almost impossible to deal with if one is constrained to traditional tires repair materials. This also includes valve stem and valve core leaks. - It should also be clearly understood that under-inflation is the number one enemy of any pneumatic tire. Tire pressure that is at 20% below specification is considered to be running flat. When this occurs the sidewall experiences too much flex and is damaged, thus becoming a safety concern for operators and equipment.
      </div>
      <br>
      <div class="ques">
        Can iSealTires be used in tube type tires?
      </div>
      <div class="mx-5 mb-3">
        - Yes, iSealTires is equal for maintaining tire pressure in tube-type tires. However, for punctures it is not as effective.
      </div>

      <br>
      <div class="ques">
        Why?
      </div>
      <div class="mx-5 mb-3">
        Reasons for this include poorly made or thin inner-tubes, improper inner-tube/tire sizing, or tube float when the tube is punctured. We recommend the three to four time re-inflate rule. In other words, inspect for damage, if no damage is present; re-inflate. Repeat this process three to four times. If that does not work, remove the tire/wheel assembly and have a tire professional inspect it for non-repairable damage.
      </div>

      <br>
      <div class="ques">
        Do I need to mix or shake the product before use?
      </div>
      <div class="mx-5 mb-3">
        - No, iSealTires is design not to separate, whether on the shelf or in the tire.
      </div>

      <br>
      <div class="ques">
        Is iSealTires absorbed by tires or does it cause damage to the tires?
      </div>
      <div class="mx-5 mb-3">
        - No, to both concerns. iSealTires is inert to natural and butyl rubbers that are used in tire manufacturing.
      </div>

      <br>
      <div class="ques">
        Will iSealTires balance my tires?
      </div>
      <div class="mx-5 mb-3">
        - We do not claim iSealTires to be a dynamic balancer. Theoretically, any liquid inside the tire could perform as a dynamic balancer. All tire/wheel assemblies that require balancing should be balance before any tire sealer is installed. When tire sealant is installed into high speed applications (40 mph or greater), the correct amount is imperative...more is not better...it is far, far worse to over apply. Vibrations and dangerous situations can occur when over application is done.
      </div>

      <br>
      <div class="ques">
        Is iSealTires compatible with Tire Pressure Monitor Systems (TPMS)?
      </div>
      <div class="mx-5 mb-3">
        - It depends on the type and design of the TPMS. The best answer is to contact the TPMS manufacturer or dealer where you purchase your equipment.
      </div>

      <br>
      <div class="ques">
        Are tires retreadable and repairable is I’ve used iSealTires?
      </div>
      <div class="mx-5 mb-3">
        - Yes, iSealTires is compatible with tire repair and retread materials, just wash out, dry and repair or retread.
      </div>

      <br>
      <div class="ques">
        What about ballasted tires, can iSealTires be used?
      </div>
      <div class="mx-5 mb-3">
        - Yes, the ratio is 1-part iSealTires, 15-parts water (maximum ratio). iSealTires is compatible with water, anti-freeze (glycols) and calcium chloride solutions.
      </div>

    </div>
    <div class="col-md"></div>
  </div>
</div>
