<div class="banner_holder">
  <div class="banner">
  </div>
</div>

<!-- <h4 class="text-center m-3">Sealant Application Calculator</h4> -->
<br><br>
<p class="mx-4">
  Below you can enter in the tire width and rim size in inches or millimeters to receive an estimate for how much sealant you need.
</p>
<div class="container-fluid">
  <div class="row my-3">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 rounded">
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label class="input-group-text">System of Measurement:</label>
        </div>
        <select class="custom-select" id="measurementSelect" [(ngModel)]="selectedMeasure" (click)="wipeInput()">
          <option *ngFor="let m of measurements" [ngValue]="m.val">{{m.name}}</option>
        </select>
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <label class="input-group-text">Tire Use:</label>
        </div>
        <select class="custom-select" id="roadSelect" [(ngModel)]="selectedRoad">
          <option *ngFor="let r of roads" [ngValue]="r.val">{{r.name}}</option>
        </select>
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Tire Width:</span>
        </div>
        <textarea class="form-control" id="widthInput" rows="1" [(ngModel)]="width" keyboardType="number" app-restrict-input="float" id="inputTire" placeholder="Enter tire size" #ctrl="ngModel" required>Tire Width:</textarea>
        <div class="input-group-append">
          <span *ngIf="!selectedMeasure" class="input-group-text">inches</span>
          <span *ngIf="selectedMeasure" class="input-group-text">mm</span>
        </div>
      </div>

      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text">Wheel Diameter/Size</span>
        </div>
        <textarea class="form-control" id="rimInput" rows="1" [(ngModel)]="rim" keyboardType="number" app-restrict-input="float" id="inputTire" placeholder="Enter rim/wheel size" #ctrl="ngModel" required>Tire Width:</textarea>
        <div class="input-group-append">
          <span class="input-group-text">inches</span>
        </div>
      </div>

      <button type="submit" class="btn btn-primary" (click)="calculate()">Calculate</button>


      <p>
        Claculated Fluid Oz: &nbsp;&nbsp;<b>{{fluidOz}}</b> <br>
        Suggested Application Amount in Oz: &nbsp;&nbsp;<b>{{applicationOz}}</b> <br>
        Hand Pumps: &nbsp;&nbsp;<b>{{handPumps}}</b> <br>
      </p>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
</div>
