<div class="container-fluid">
  <div class="row my-3">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 rounded p-5">
      <div class="text-center">
        <h1>About Us</h1>
      </div>
      <p>
        After several years of development and testing iSealTires brand introduced its first product Heavy Duty Tire Sealant in mid-2017. Led by an experienced Tire Retread and Repair professional with many years of industry experience in the development and manufacture of tire repair liquid formulae (Chemical Vulcanizing Fluids). This unique and highly effective formulae came to life. The company is owned by Rex Hidle, during his career his job path has covered Aerospace, Oil Field Wireline Service, Manufacturing, Sale and Marketing, Quality Assurance and Regulatory Affairs. Additionally, he has been involved in numerous industry associations including Tire Industry Association, American Trucking Associations - Technology and Maintenance Council, Tread Rubber Manufactures Group, Tire Retread & Repair Information Bureau and other state and local trucking and industry associations.
      </p>
      <div class="text-center">
        <h1>Contact Us</h1>
        <br>
        <p class="mx-5">
          email Rex Hilde at rhlde@iSealTires.com<br><br>
        </p>
      </div>
    </div>
    <div class="col-md"></div>
  </div>
</div>
