<div class="container-fluid">
  <div class="row my-3">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 rounded p-5">
      <div class="text-center">
        <h1>How It Works</h1>
      </div>
      <p class="mx-5">
        iSealTires® works by creating a small pool of product at the bottom of the tire when at rest. As the tire rotates product evenly distributes throughout the entire inner surface of the tire. This action allows the product to eliminate air loss from bead leaks and pin holes, virtually eliminating casing porosity. When the vehicle slows down iSealTires® again begins to pool at 20 mph or below, thereby sealing any new punctures. This is done by air pressure forcing fibers and fillers into the puncture/leak, as well as, the rolling of the tire mechanically compacting the sealant into a permanent flexible plug.
      </p>
      <div class="m-5 text-center">
        <img class="img-responsive"src="../assets/resized_tire_sealant.jpg" alt="tire_sealant" /> <br>
      </div>
      <br>
      <div class="text-center">
        <h4>A Useful Analogy: "Beaver Dam"</h4>
      </div>
      <p>
        It starts with logs and large branches, then smaller limbs, sticks and small rocks. Followed by smaller items like twigs, leaves, pebbles and mud.
        As in the “Beaver Dam” analogy iSealTires Heavy Duty Tire Sealant builds flexible permanent plugs and seals small insidious air leaks, FOR THE LIFE OF THE TIRE!
      </p>
      <br><br>
      <div class="text-center">
        <h3>Specifications</h3>
      </div>
      <p>
        Operating Temperatures:<br>
        &nbsp;	&nbsp;	&nbsp;	&nbsp;	-35&#176;C (-30&#176;F)<br>
        &nbsp;	&nbsp;	&nbsp;	&nbsp;	&#62;140&#176;C (&#62;285&#176;F)<br>
        <br><br><br>

        An Environmentally Friendly Liquid Containing:
      </p>
      <ul class="mx-5">
        <li>Propylene Glycol</li>
        <li>Corrosion inhibitors</li>
        <li>Fillers</li>
        <li>Synthetic fibers</li>
        <li>Biocide</li>
      </ul>
      <br>
      <p>
        Additional Properties:
      </p>
      <ul class="mx-5">
        <li>Color: Light Grey</li>
        <li>Soluble in water (easily water washable)</li>
        <li>Compatible with natural and synthetic rubbers</li>
        <li>Compatible with tire repair materials, just wash out, dry and repair</li>
      </ul>
    </div>
    <div class="col-md"></div>
  </div>
</div>
