<link href="https://fonts.googleapis.com/css?family=Reem+Kufi" rel="stylesheet">

<nav class="navbar navbar-dark navbar-expand-md" style="background-color: $color-blue;">
  <a class="navbar-brand" href="#">
      iSealTires
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="mx-auto" style="background-color:;">
      <ul class="navbar-nav mx-auto ml-auto">
        <li class="nav-item">
          <a class="nav-item nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="howitworks">How It Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="howtoinstall">How To Install</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="faq">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<router-outlet></router-outlet>

<!-- Footer
<footer class="footer text-center">
  <small>Made with <i class="fa fa-heart"></i> by <a href="www.dawson.soy" style="color:#644E5B">dawson</a></small>
</footer>
-->
