/* You can add global styles to this file, and also import other style files */
@import "~font-awesome/css/font-awesome.css";
$color-gray: #314455;
$color-violet: #644E5B;
$color-red: #9E5A63;
$color-light-red: #C96567;
$color-blue: #97AABD;
$color-light-blue: #c8dcf0;
$color-primary: #428bca;

.navbar{

	background-color: rgba(0,0,0,0.3);
	z-index: 9;
}
.navbar-dark
.navbar-nav .nav-link{
	color: white;
}

*.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: none !important;
    }

*.btn-primary:active, .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus {
        outline: none !important;
    }

*:focus {outline:none !important}



.navbar-dark
.navbar-nav .nav-link:hover{
	color: $color-primary;
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
}

body{
	background-color: $color-blue;
	margin-bottom: 60px;
	font-family: 'Reem Kufi', sans-serif;
}

.col-md-10{
	background-color: $color-light-blue;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $color-gray;
}

.carousel{
	position:absolute;
	width:100%;
	top:0;
}

small{
	font-size: .5rem;
}

a{
	color: $color-primary;
}

a:hover{
	color: $color-violet;
}
