<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="slider slide1 text-center">
        <div class="p-5"></div>
        <h1 class="font-weight-light p-4" style="color:white;">The Best In Tire Sealant</h1>
        <a class="btn btn-primary" role="button" href="howitworks" style="color: white; background-color: ;">See How It Works</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slider slide2 text-center">
        <div class="p-5"></div>
        <h1 class="font-weight-light p-4" style="color:white;">Easy To Install</h1>
        <a class="btn btn-primary" role="button" href="howtoinstall" style="color: white; background-color: ;">Learn How</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slider slide3 text-center">
        <div class="p-5"></div>
        <h1 class="font-weight-light p-4" style="color:white;">Order Today!</h1>
        <a class="btn btn-primary" role="button" href="contact" style="color: white; background-color: ;">Contact Us</a>
      </div>
    </div>
  </div>
  <span class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </span>
  <span class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </span>
</div>

<div class="container-fluid top-fill"><p></p></div>

<div class="container-fluid">
  <div class="row my-3">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 rounded">
      <div class="text-center">
        <h1>Welcome to iSealTires</h1>
        <h6> At one time or another we all deal with low tire pressures and punctures from nails and other objects in our tires!</h6>
        <p>
          This usually happens at inconvenient times, when you’re headed out for a day of...<br>
        </p>
      </div>
      <div class="row">
        <div class="col-sm mx-3">
          <ul>
            <li >Fishing</li>
            <li >Hunting</li>
            <li >Boating</li>
            <li >Golfing</li>
            <li >4-Wheeling</li>
            <li >Mudding</li>
            <li >Plowing</li>
            <li >Planting</li>
          </ul>
        </div>
        <div class="col-sm mx-3">
          <ul>
            <li >Harvesting</li>
            <li >Landscaping</li>
            <li >Mowing</li>
            <li >Construction</li>
            <li >Waste Pickup</li>
            <li >Remediation</li>
            <li >Deliveries</li>
            <li >Or other activities...</li>
          </ul>
        </div>
      </div>

      <br>
      <h1 class="mx-5">The Best Preventive Tire Maintenance!</h1>
      <p class="mx-5">
        iSealTires provides industry superior air pressure control for all pneumatic tires, with or without tubes. It is best in class for tire pressure retention or puncture sealing capabilities; this equals the best Preventive Maintenance Tire Sealant available.
        <br><br>
        These benefits are for both Off-Road and Over-the-Road uses. Whether your use is Agricultural, Lawn & Garden, Waste, Landfills, Landscaping, Mining, Military, Recreational, UTV/ATV, Work Trucks, or Heavy Duty Over-the-Road Trucking.
        <br><br>
        Confidence is knowing you’re using iSealTires.
        <br><br>
        Because:

      </p>
      <ul class="mx-5">
        <li>It creates a permanent seal for the life of the tire</li>
        <li>Under normal use conditions iSealTires will not separate after installation into the tire or while stored on the shelf.</li>
        <li>Virtually eliminates air pressure loss.</li>
        <li>Seals Punctures from objects as large as 1/2 inch.</li>
        <li>Seals Bead Leaks.</li>
        <li>Seals wheel and rim leaks.</li>
        <li>Our formulae and technology were developed with a focus and intent to eliminate air loss from the tire/wheel assembly.  This yielded what we believe is the most efficient and effective Preventive Maintenance Tire Sealant on the market today.</li>
        <li>iSealTires is proven to assure we meet our claims, regarding elimination of air loss, corrosion inhibition, biological inhibition or puncture sealing.  We do our best to educate our customers and make realistic performance claims. Why? Because so many other tire sealants don’t educate and make what we consider hyperbolic claims that lead to unrealistic expectations.</li>
        <li>We strive to meet our performance claims. For example: we will always demonstrate the 1/2” puncture claim at each and every trade show we attend and at every sales call we make.</li>
      </ul>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
  <div class="row my-3">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 rounded">
      <app-application-calculator></app-application-calculator>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
</div>
<div style="display:none;">
  <img class="img-fluid" src="../../assets/stock/farm.jpg"/>
  <img class="img-fluid" src="../../assets/stock/fourwheel.jpg"/>
  <img class="img-fluid" src="../../assets/stock/golfcarts.jpg/">
</div>
