<link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="slider slide1 text-center">
        <h1 class="font-weight-light p-5" style="color:white;">The Best In Tire Sealant</h1>
        <button type="button" class="btn mb-5" style="color: white; background-color: #C96567;">See How It Works</button>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slider slide2 text-center">
        <h1 class="font-weight-light p-5" style="color:white;">Easy To Install</h1>
        <button type="button" class="btn mb-5" style="color: white; background-color: #C96567;">Learn How</button>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slider slide3 text-center">
        <h1 class="font-weight-light p-5" style="color:white;">Industrial, Commercial, and Personal Use</h1>
        <button type="button" class="btn mb-5" style="color: white; background-color: #C96567;">Contact Us</button>
      </div>
    </div>
  </div>
  <span class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </span>
  <span class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </span>
</div>

<div class="container-fluid">
  <div class="row my-3">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 rounded">
      <div class="text-center">
        <h1>Welcome to iSealTires</h1>
        <h6> At one time or another we all deal with low tire pressures and punctures from nails and other objects in our tires!</h6>
        <p>
          This usually happens at inconvenient times, when you’re headed out for a day of...<br>
        </p>
      </div>
      <div class="row">
        <div class="col-sm mx-3">
          <ul>
            <li >Fishing</li>
            <li >Hunting</li>
            <li >Boating</li>
            <li >Golfing</li>
            <li >4-Wheeling</li>
            <li >Mudding</li>
            <li >Plowing</li>
            <li >Planting</li>
          </ul>
        </div>
        <div class="col-sm mx-3">
          <ul>
            <li >Harvesting</li>
            <li >Landscaping</li>
            <li >Mowing</li>
            <li >Construction</li>
            <li >Waste Pickup</li>
            <li >Remediation</li>
            <li >Deliveries</li>
            <li >And more...</li>
          </ul>
        </div>
      </div>

      <br>
      <h1>The Best Preventive Maintenance Tire Sealant in the market today!</h1>
      <p class="mx-5">
        iSealTires provides industry superior air pressure control for all pneumatic tires, with or without tubes. It is best in class for tire pressure retention and puncture sealing capabilities...this equals the best Preventive Maintenance Tire Sealant available.
        These benefits are for both Off-Road and Over-the-Road uses. Whether your use is Agriculture, Lawn & Garden, Waste, Landfills, Landscaping, Mining, Military, Recreational, UTV/ATV, Work Trucks, or Heavy Duty Over-the-Road Trucking.
        Confidence is knowing you’re using iSealTires.
      </p>
      <ul class="mx-5">
        <li>It creates a permanent seal for the life of the tire</li>
        <li>Under normal use conditions iSealTires will not separate after installation into the tire or while stored on the shelf.</li>
        <li>Virtually eliminates air pressure loss.</li>
        <li>Seals Punctures from objects as large as 1/2 inch.</li>
        <li>Seals Bead Leaks.</li>
        <li>Seals wheel and rim leaks.</li>
        <li>Our formulae and technology were developed with a focus and intent to eliminate air loss from the tire/wheel assembly. This yielded what we believe is the most efficient and effective Preventive Maintenance Tire Sealant in the market today.</li>
        <li>iSealTires is tested to assure we meet our claims, whether it is air retention, corrosion inhibition, biological inhibition or puncture sealing. We do our best to only make realistic performance claims. Why? Because so many other tire sealants’ make what we consider hyperbolic unrealistic claims that lead to unrealistic expectations.</li>
        <li>Therefore, when we claim sealing of a puncture caused by 1/2” puncturing object, we demonstrate that size puncture at all trade shows we attend. We don’t just show you a video and say trust us...we show you in person.</li>
      </ul>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
  <div class="row my-3">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 rounded">
      <app-application-calculator></app-application-calculator>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
</div>
