$color-gray: #314455;
$color-violet: #644E5B;
$color-red: #9E5A63;
$color-light-red: #C96567;
$color-blue: #97AABD;
$color-primary: #428bca;

.top-fill{
	z-index: 10;
  height: 43vh;
}

.slider {
  height: 50vh;
  min-height: 500px;
	/*background-color: $color-light-red;
	background-blend-mode: screen;*/
}

.slide-content {
  background-color: rgba(0,0,0,0.5);
  border-radius: 15px;
}

.slide1 {
	background-image: url("../../assets/stock/farm.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide2 {
	background-image: url("../../assets/stock/fourwheel.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.slide3 {
	background-image: url("../../assets/stock/golfcarts.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

h1 {
  font-family: 'Fugaz One', cursive;
	font-size: 2rem;
}
