<link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="slider slide1 text-center">
        <h1 class="font-weight-light p-5" style="color:white;">The Best In Tire Sealant</h1>
        <button type="button" class="btn mb-5" style="color: white; background-color: #C96567;">See How It Works</button>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slider slide2 text-center">
        <h1 class="font-weight-light p-5" style="color:white;">Easy To Install</h1>
        <button type="button" class="btn mb-5" style="color: white; background-color: #C96567;">Learn How</button>
      </div>
    </div>
    <div class="carousel-item">
      <div class="slider slide3 text-center">
        <h1 class="font-weight-light p-5" style="color:white;">Industrial, Commercial, and Personal Use</h1>
        <button type="button" class="btn mb-5" style="color: white; background-color: #C96567;">Contact Us</button>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container-fluid">
  <div class="row my-3">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 border rounded">
      <p> This is some introductory text. Bellow you can find the application calculator!</p>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
  <div class="row my-3">
    <div class="col-md"></div>
    <div class="col-md-10 col-12 border rounded">
      <app-application-calculator></app-application-calculator>
    </div>
    <div class="col-md" style="background-color:;"></div>
  </div>
</div>
